@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    background-color: #F6F6F8;
}
.container .leftside{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container .leftside .content{
    text-align: center;
    padding: 2em 4em;

}
.container .leftside .content img{
    margin: -7em 0 4em 0px;
}
.container .leftside .content h1{
    font-size: 50px;
    font-weight: 500;
    line-height: 65px;
    margin-bottom: .5em;
}
.container .leftside .content p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}
.container .rightside{
    width: 100%;
    /* height: 100vh; */
}
.container .rightside img{
    width: 100%;
    height: 100vh;
}
@media screen and (max-width:768px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .container .leftside .content{
        padding: 2em;
    }
    .container .leftside .content img{
        margin: 0;
    }
    .container .leftside .content h1{
        font-size: 30px;
        line-height: 50px;
    }
}